.main{
  display: flex;
  height: 200px;
  justify-content: center;
}
.main_item{
  margin: auto;
}
.main_1, .main_2, .main_3 button{
  margin-top: 15px;
  font-family: 'Playpen Sans', cursive;
  font-size: 1.2rem;
}
.main_1 select, .main_2 select, .main_3 button{
  border-radius: 4px;
  border: 2px solid lightgrey;
  padding: 3px;
}
.main_3 button{
  font-weight: bolder;
  padding: 3px;
}
.main_3 button:hover {
  background-color: #007BFF;
}

@media only screen and (min-width: 700px) {
  .main_item{
    display: flex;
  }
  .main_1, .main_2 {
    margin-right: 20px;
  }
}


.solution{
  font-family: cursive;
  background-color: #F5F7F8;
  margin: 3%;
  font-size: 32px;
  font-weight: bolder;
  border: 2px solid lightgrey;
  border-radius: 8px;
  padding: 1% 5%;
}
#optionBox{
  padding: 10px;
}
#pdfContainer{
  display: flex;
  flex-wrap: wrap;
  gap:20px;
}
.card {
  display: inline-block;
  justify-content: space-evenly;
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 24px;
  padding: 16px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}
.card:hover {
   transform: scale(1.05);
}
.card a {
    text-decoration: none;
    color: #007BFF;
}

/* buy me a coffee css */

.coffee-button {
  position: fixed;
  bottom: 50px;
  right: 30px;
  background-color: #ffeecc;
  padding: 12px;
  border-radius: 20px;
  box-shadow: 0px 0px 12px 10px rgba(0, 0, 0, 0.3);
  transition: width 0.6s ease;
  display: flex;
  margin: auto;
  justify-content: center;
  cursor: pointer;
  width: 60px;
  font-size: 0;
  overflow: hidden;
  height: 65px;
  z-index: 3;
  /* Initial width */
}

.coffee-button img {
  width: 40px;
  /* Size of the coffee icon */
}

.coffee-button #coffee-text {
  display: none;
  margin-left: 12px;
  text-wrap: nowrap;
  /* Initially hidden */
}


/* Expand the button */

.coffee-button.expanded {
  width: 150px;
  font-size: 15px;
  height: 65px;
  /* Expanded width */
}

.coffee-button.expanded #coffee-text {
  display: block;
  /* Show the text when expanded */
}

.coffee-button:hover {
  width: 150px;
  font-size: 15px;
  height: 65px;
  /* Expanded width */
}

.coffee-button:hover #coffee-text {
  display: block;
  /* Show the text when expanded */
}


#Contact {
  font-family: 'Playpen Sans', sans-serif;
  margin-top: 3%;
  text-align: center;
  font-size: 20px;
  padding: 1% 5%;
}
#About{
  margin-top: 20%;
  font-family: 'Playpen Sans', sans-serif;
  margin-bottom: 5%;
  font-size: 20px;
  padding: 1% 5%;
  float: left;
}
.counter p {
  font-weight: bold;
}

/* footer icon  */
.icon{
	display: inline-flex;
	width: 30px;
	height: 30px;
	text-decoration: none;
	font-size: 20px;
	outline: 2px solid black;
	border-radius: 50%;
	transition-duration: 0.25s;
	color: black;
}

.icon:hover{
	outline-offset: 4px;
}

.icon i{
	margin: auto;
}

.icon-instagram:hover{
	background-color: red;
	outline-color: red;
}

.icon-mail:hover{
	background-color: lightgreen;
	outline-color: lightgreen;
}

.icon-linkedin:hover{
	background-color: skyblue;
	outline-color: skyblue;
}

.icon:hover i{
	animation: shake 0.25s;
}

@keyframes shake{
	10%{
		transform: rotate(15deg);
	}
	20%{
		transform: rotate(-15deg);
	}
}
